export PROJECT_PATH='/fs-computility-new/upzd_share/maoxinjie/else/'
export ETERNAFOLD='/fs-computility-new/upzd_share/maoxinjie/else/tools/EternaFold'
export X3DNA='/fs-computility-new/upzd_share/maoxinjie/else/tools/x3dna-v2.4'
export PATH="/fs-computility-new/upzd_share/maoxinjie/else/tools/x3dna-v2.4/bin:$PATH"
export DATA_PATH='/fs-computility-new/upzd_share/maoxinjie/else/data/'
export LINEARFOLD='/fs-computility-new/upzd_share/maoxinjie/else/tools/LinearFold'
WANDB_PROJECT=rna
WANDB_ENTITY=gals
