export PROJECT_PATH='~/GALS-Fold/'
export ETERNAFOLD='~/GALS-Fold/tools/EternaFold'
export X3DNA='~/GALS-Fold/tools/x3dna-v2.4'
export PATH="~/GALS-Fold/tools/x3dna-v2.4/bin:$PATH"
export DATA_PATH='~/GALS-Fold/data/'
export LINEARFOLD='~/GALS-Fold/tools/LinearFold'
WANDB_PROJECT=rna
WANDB_ENTITY=gals
