*.pt

data/raw/
myfastatata/
__pycache__/
.ipynb_checkpoints/
notebooks/
.env
.env.example
tutorial/
*.log

mymodel/
!kfold_1_split.pt
!kfold_2_split.pt
!kfold_3_split.pt
!kfold_4_split.pt
!kfold_5_split.pt
